.side-bar{
    background: #343A40;
    height: 100%;
    color: white;
}
.side-bar > .col{
    padding-top: 5%;
}
body{
    background: #3E464D;
    font-family: 'Roboto', sans-serif;
}
/*show column boundaries*/
.side-bar > .col:nth-child(odd){
    /* background: green; */
}
.slot{
    padding: 8px;
    background: #292E33;
    transition: .2s;
} 
.slot:hover{
    /* background: black; */
    opacity: 0.5;
    cursor: pointer;
}
.slot:active{
    opacity: 0.3;
}
.slot[disabled]{
    opacity: 0.4;
}
.slot img{
    /* display: inline-block; */
    /* top: 50%; */
    /* transform: translateY(25%); */
    width: 50%;
}
.slot > .col-md-9{
    padding-left: 1%;
    text-align: left;
}
#btn-dig{
    width: 30%;
    height: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);margin-top: 5%;
    margin-top: 5%;
}
::-webkit-scrollbar              {display: none}
::-webkit-scrollbar-button       {}
::-webkit-scrollbar-track        {}
::-webkit-scrollbar-track-piece  {}
::-webkit-scrollbar-thumb        {}
::-webkit-scrollbar-corner       {}
::-webkit-resizer                {}

#btn-dig:active{
    transform: translate(-50%, -45%);
}
.slot-number{
    position: absolute;
    right: 16px;
    font-size: 2em;
    font-weight: bold;
    opacity: 0.3;
}
/* .ui-set .col-lg-2{
    width: 35% !important;
    display:block;
}

.ui-set .col-lg-8{
    width: 90% !important;
    display:block;
} */
#kgs_display{
    font-weight: 700;
}
.slot-cost{
    font-weight: 300;
}
.slot-cost b{
    font-weight: 600;
}
.text-muted{
    font-size: 12px;
}
.description{
    display: none;
    padding-left: 28px;
    padding-top: 0.5em
}
.word-slot{
    color: white;
    background: rgba(0, 0, 0, 0.2);
    text-align: right;
    margin-top: 1em;
    padding: 0.8em 1em 0.8em 1em;
}