.side-bar{
    background: black;
    height: 100%;
    color: white;
}
.side-bar > .col{
    padding-top: 5%;
}
/*show column boundaries*/
.side-bar > .col:nth-child(odd){
    /* background: green; */
}
.slot{
    padding: 8px;
    background: grey;
    transition: .2s;
} 
.slot:hover{
    /* background: black; */
    opacity: 0.5;
    cursor: pointer;
}
.slot[disabled]{
    opacity: 0.4;
}
.slot img{
    /* display: inline-block; */
    width: 70%;
}
.slot > .col-md-9{
    padding-left: 1%;
}
#btn-dig{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}